@charset "UTF-8";
/* Body */
body {
	font-family: "Montserrat",sans-serif;
	background-color: #fff;
    margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
h1 {
  display: block;
  color: #363636;    
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  color: #2f2f2f;    
  font-size: 1.2em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  padding: 0 15px 0 15px;    
}

/* Container */
.container {
	width: 90%;
    padding: 0;
    margin: 15px auto 0 auto;
	background-color: white;
    /*border: 1px gray solid;*/
    box-shadow: 20px 10px 45px 10px #d9d8d8;
	/*background-color:rgba(255,255,255,0.3);*/
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
    

/* Top Layer */
.turquoise {
	width: 100%;
    padding: 0;
    margin-top: 115px auto 0 auto;
    /*background-color: white;*/
    /*opacity: 0.7;*/
}
/* Navigation */
header {
	width: 100%;
	height:auto;
    margin-bottom: 25px;
	background-color: #fff;
    /*opacity: 0.7;*/
	border-bottom: 1px solid #fff;
}
footer {
	width: 100%;
	height: 150px;
    margin: 0 0 5px 0;
    padding:0;
    position: absolute;
    bottom: 0;
    background-color: #17728e;
	
}
.logo {
	/*color: #fff;
	font-weight: bold;*/
	text-align: undefined;
	width: 10%;
    float: left;
	margin-top: 15px;
	margin-left: 25px;
	/*letter-spacing: 4px;*/
}.button {
  border:none;
  color: #FFFFFF;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  
	
}.button1 {
  background-color: #17728E; 
  color: white; 
  border: 2px solid #FFFFFF;
	
}.button1:hover {
  background-color: #219A9A;
  color: white;
}

nav {
	float: right;
	width: 70%;
	text-align: right;
	margin-right: 5px;
}
footer-nav {
	/*float: left;*/
	width: 50%;
    display: inline;
    margin: 0 auto;
    /*padding: auto;*/
	text-align: center;
	}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
	color: #4c2a06;
	font-size: 14px;
	text-align: left;
	margin: 5px;
    padding: 15px 0 0 0;
	
}
footer-nav ul li {
	float: left;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
	color: #4c2a06;
	font-size: 12px;
	text-align: left;
	margin: 5px 10px 0 0;
    list-style-type: none;
    padding: 20px 0 0 0;
	
}
ul li a {
	color: #4c2a06;
    line-height: 2.0em;
	text-decoration: none;
   
}
ul li:hover a {
	color: #4c2a06;
    text-decoration: underline;
}
* {
  box-sizing: border-box;
}


p {
 font-family: "Montserrat",sans-serif;
 font-size: 13px;
 font-weight: 400;    
 color: #363636;
 line-height: 1.6;
 padding: 0 15px 5px 15px;    
 } 
p.white {
 font-family: "Montserrat",sans-serif;
 font-size: 12px;
 font-weight: 400; 
 padding: 0 15px 5px 15px;
  color: white;
 background-color:#025350;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
      
  }
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
 font-family: "Montserrat",sans-serif;
 font-size: 12px;
 font-weight: 400;    
 color: #363636;    
 width: 100%;
 padding: 10px;

}
.column1 {
 float: left;
 font-family: "Montserrat",sans-serif;
 font-size: 12px;
 font-weight: 400;    
 color: #363636;    
 width: 33.3%;
 padding: 10px;
}
.form {
 float: left;
 font-family: "Montserrat",sans-serif;
 font-size: 12px;
 font-weight: 400;    
 color: #363636;    
 width: 33.3%;
 padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



p.footer {
	padding: 25px 0 0 0;
    text-align: left;
    font-size: 14px;
    color: #4c2a06;
	line-height: 5px;
	font-weight: 600;
	margin: 15px 0 0 5px;
    }

footer {
	display: inline-block;
}
.hidden {
	display: none;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
    opacity: 0.9;
	float: none;
	display: none;
}
.column1 {
 float: left;
 font-family: "Montserrat",sans-serif;
 font-size: 12px;
 font-weight: 400;    
 color: #363636;    
 width: 100%;
 padding: 10px;
}
.button {
  border:none;
  color: #FFFFFF;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width:100%;
}
   
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}


}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #fff;
    opacity: 0.9;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #fff;
    opacity: 0.9;
}
.column1 {
 float: left;
 font-family: "Montserrat",sans-serif;
 font-size: 12px;
 font-weight: 400;    
 color: #363636;    
 width: 100%;
 padding: 10px;
}
.button {
  border:none;
  color: #FFFFFF;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width:100%;
}
   
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}

.thumbnail {
	width: 50%;
}

.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

}

.three-column {
	font-size: 0; /*remove white space*/
  }
  
  .section {
	font-size: 16px; /*reset font size*/
	display: inline-block;
	vertical-align: top;
	width: 33.3333%;
	box-sizing: border-box;
	text-align: center;
	padding-bottom: 30px;
  }
.border-right{
	border-right: 1px solid black;
}
  
  @media (max-width: 950px) { /*breakpoint*/
	.section {
	  display: block;
	  width: auto;
	}
  }

.no-bullets {
	list-style-type: none;
	padding: 0; 
	margin: 0;
  }
.column-heading {
	text-align: center; 
	font-size: 16px; 
	text-decoration: underline; 
	text-underline-offset: 3px;
	font-weight: bold;
}

.report-links{
	color: #4c2a06;
	line-height: 2.0em;
	text-decoration: none;
}

 .report-links:hover{
	color: #4c2a06;
    text-decoration: underline;
}

.reports-heading {
	text-align: center;
    font-size: 16px;
    text-decoration: underline;
    text-underline-offset: 3px;
    font-weight: bold;
	padding: 20px; 
}  
